.breadcrumbs {
  font-size: 12px;
  line-height: 1.5;
  padding: 0;
  list-style: none;
  margin-bottom: 30px;

  li {
    display: inline-block;
    margin-right: 7px;

    .link {
      cursor: pointer;
      font-size: 13px;
      display: inline-block;
      color: rgba(0,0,0,.6);

      &:active {
        color: #1a1a1a;
        text-decoration: underline;
      }
    }
  }

  .arrow {
    color: #666666;
    margin-right: 7px;
    padding-bottom: 2px;
  }
}
