@import '~bootstrap/scss/bootstrap.scss';

.header {
  background-size: cover;
  background-color: #ff8432;
  color: #ffffff;
  height: 44px;
  width: 100%;
  display: flex;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 700;

  .layout {
    width: 1180px;
    display: block;
  }

  .navbar {
    display: flex;
    padding: 0;
    width: 100%;
  }

  .navbar-brand {
    text-align: left;
    padding-right: 40px;

    .logo {
      font-size: 24px;
      line-height: 34px;
      font-weight: 700;
    }
  }

  .navbar-dark .navbar-nav .nav-link {
    padding: 0 15px;
    color: #ffffff;
    cursor: pointer;
  }

  .nav-menu {
    display: inline-block;
    position: relative;
  }

  .dropdown-item.active,
  .dropdown-item:active {
    background-color: #ff8432;
  }

  .register {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border-left: 1px solid #ffffff;
    border-radius: 0;
  }
}
